@import url('https://fonts.googleapis.com/css?family=Quicksand');

#app{
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.menu-title {
    margin: 2% 0;
    text-transform: uppercase;
    font-size: 1.5em;
}

.dish-img{
    width: 40%;
}

.navbar-brand img{

    min-width: 5em;
}

#basket-img{
    cursor: pointer;
    min-width: 3em;
}

#basket-img:hover{
opacity: 0.8;
}

.basket-badge{
    position: absolute;
    right: 2%;
    background: #d65145;
    border-radius: 70%;
    width: 17px;
    height: 22px;
    color: #fff;
}

#total-price{
    position: absolute;
    font-weight: bold;
}

.product-item, #pagination-wrapper, .tools-wrapper li:hover {
    cursor: pointer;
 }
 
 .product-image{
     margin: 0.3em;
 }
 
 .product-image:hover .item-transp-header{
     opacity: 0.8;
 }
 
 .content-overlay {
   background: rgba(247, 247, 247, 0.69);
   position: absolute;
   height: 99%;
   width: 100%;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   opacity: 0;
   -webkit-transition: all 0.4s ease-in-out 0s;
   -moz-transition: all 0.4s ease-in-out 0s;
   transition: all 0.4s ease-in-out 0s;
   z-index: 9999;
 }
 
 .product-item:hover .content-overlay{
   opacity: 1;
 }
 
 .content-details {
   position: absolute;
   text-align: center;
   color:#7b7b7b; 
   padding-left: 1em;
   padding-right: 1em;
   width: 100%;
   top: 50%;
   left: 50%;
   opacity: 0;
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   -webkit-transition: all 0.3s ease-in-out 0s;
   -moz-transition: all 0.3s ease-in-out 0s;
   transition: all 0.3s ease-in-out 0s;
 }
 
 .product-item:hover .content-details{
   top: 50%;
   left: 50%;
   opacity: 1;
 }
 
 .fadeIn-bottom{
   top: 80%;
 }
 
 .item-header{
     text-align: center;
     text-transform: capitalize;
     letter-spacing: 0.2px;
 }
 
 .item-transp-header{
     -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
 }